@inherits LayoutComponentBase
@using MyBlazorApp.Components
<div class="page">
    <header class="top-bar">
        <NavMenu />
    </header>

    <main class="main-content">
        <div class="container-fluid py-4">
            @Body
        </div>
    </main>
</div>

@* Debug Console - visibile solo in ambiente di sviluppo *@
@{
    #if DEBUG
}
<DebugConsole />
@{
    #endif
}
