@inherits LayoutComponentBase
<div class="page">
    <header class="top-bar">
        <NavMenu />
    </header>

    <main class="main-content">
        <div class="container-fluid py-4">
            @Body
        </div>
    </main>
</div>
